---
title: "Is Your Doctor Ready for Your Genetic Test Results?"
url: "https://www.23andme.org/blog/articles/is-your-doctor-ready-for-your-genetic-test-results"
date: "2026-10-08"
author: "23andMe"
feed_url: "https://www.23andme.org/blog/feed/"
---
By Anne Greb, M.S., CGC, and Noura Abul-Husn, M.D., Ph.D. Key Takeaways As genetics becomes a bigger part of everyday health care, primary care doctors and nurse practitioners will increasingly help patients make sense of genetic information. The 23andMe Research Institute developed and ran a 20-hour genetics training program for 42 primary care professionals.
